$headings-margin-bottom: 0.75em;

@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url("../images/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.position-relative .form-control {
  padding-right: 40px;
}

.search-button {
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.form-control:focus + .search-button {
  box-shadow: none;
}

.custom-list-item {
  border: none;
  padding: 0;
  background-color: transparent;
}

.custom-button-text {
  color: #ffe44d !important;
}

.click {
  cursor: pointer;
}
